%body
  %header#myCarousel.carousel.slide
    .carousel-inner
      .item.active
        .fill
          = link_to image_tag('jumbotron.jpg')
        .carousel-caption
          %h1 So developers can track info they need
          %br
          = link_to 'Ruby Rails Info Stream', ruby_and_rails_path, class:  'btn btn-round btn-lg btn-primary'
          = link_to 'Python Info Stream', python_path, class:  'btn btn-round btn-lg btn-primary'

  .container
    .row
      .col-lg-12
        %h2
          %br
          %p Want Bit Parrot to track other info for you?
          %p Tweet Us
          %ul.list-inline
            %li
              %a{:href => "https://twitter.com/bit_parrot"}
                %i.fa.fa-2x.fa-twitter-square
