%body
  %header#myCarousel.carousel.slide
    / Indicators
    -#%ol.carousel-indicators
    -#  %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    -#  %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    -#  %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
    / Wrapper for slides
    .carousel-inner
      .item.active
        .fill
          = link_to image_tag('jumbotron.jpg')
        .carousel-caption
          %h2 Ahoy
      / <div class="item">
      / <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
      / <div class="carousel-caption">
      / <h2>Caption 2</h2>
      / </div>
      / </div>
      / <div class="item">
      / <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
      / <div class="carousel-caption">
      / <h2>Caption 3</h2>
      / </div>
      / </div>
    / Controls
    -#%a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    -#  %span.icon-prev
    -#%a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    -#  %span.icon-next
  / Page Content
  .container
    / Marketing Icons Section
    .row
      .col-lg-12
        %h1.page-header
          (Under Construction) Aggregated info streams for developers to easily track what they care about
        %ul
          - TwitterApi.public_tweets.each do |tweet|
            %li= tweet.text
    -#  .col-md-4
    -#    .panel.panel-default
    -#      .panel-heading
    -#        %h4
    -#          %i.fa.fa-fw.fa-check
    -#          Bootstrap v3.2.0
    -#      .panel-body
    -#        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
    -#        %a.btn.btn-default{:href => "#"} Learn More
    -#  .col-md-4
    -#    .panel.panel-default
    -#      .panel-heading
    -#        %h4
    -#          %i.fa.fa-fw.fa-gift
    -#          Free &amp; Open Source
    -#      .panel-body
    -#        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
    -#        %a.btn.btn-default{:href => "#"} Learn More
    -#  .col-md-4
    -#    .panel.panel-default
    -#      .panel-heading
    -#        %h4
    -#          %i.fa.fa-fw.fa-compass
    -#          Easy to Use
    -#      .panel-body
    -#        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
    -#        %a.btn.btn-default{:href => "#"} Learn More
    -#/ /.row
    -#/ Portfolio Section
    -#.row
    -#  .col-lg-12
    -#    %h2.page-header Portfolio Heading
    -#  .col-md-4.col-sm-6
    -#    = link_to page_path('portfolio-item') do
    -#      %img.img-responsive.img-portfolio.img-hover{:alt => "", :src => "http://placehold.it/700x450"}/
    -#  .col-md-4.col-sm-6
    -#    = link_to page_path('portfolio-item') do
    -#      %img.img-responsive.img-portfolio.img-hover{:alt => "", :src => "http://placehold.it/700x450"}/
    -#  .col-md-4.col-sm-6
    -#    = link_to page_path('portfolio-item') do
    -#      %img.img-responsive.img-portfolio.img-hover{:alt => "", :src => "http://placehold.it/700x450"}/
    -#  .col-md-4.col-sm-6
    -#    = link_to page_path('portfolio-item') do
    -#      %img.img-responsive.img-portfolio.img-hover{:alt => "", :src => "http://placehold.it/700x450"}/
    -#  .col-md-4.col-sm-6
    -#    = link_to page_path('portfolio-item') do
    -#      %img.img-responsive.img-portfolio.img-hover{:alt => "", :src => "http://placehold.it/700x450"}/
    -#  .col-md-4.col-sm-6
    -#    = link_to page_path('portfolio-item') do
    -#      %img.img-responsive.img-portfolio.img-hover{:alt => "", :src => "http://placehold.it/700x450"}/
    -#/ /.row
    -#/ Features Section
    -#.row
    -#  .col-lg-12
    -#    %h2.page-header Modern Business Features
    -#  .col-md-6
    -#    %p The Modern Business template by Start Bootstrap includes:
    -#    %ul
    -#      %li
    -#        %strong Bootstrap v3.2.0
    -#      %li jQuery v1.11.0
    -#      %li Font Awesome v4.1.0
    -#      %li Working PHP contact form with validation
    -#      %li Unstyled page elements for easy customization
    -#      %li 17 HTML pages
    -#    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.
    -#  .col-md-6
    -#    %img.img-responsive{:alt => "", :src => "http://placehold.it/700x450"}/
    / /.row
    %hr/
    / Call to Action Section
    .well
      .row
        .col-md-8
          %p We're adding email sends for the aggregated info, so you don't have to check this site. Sign up to be first to receive when ready.
        .col-md-4
          = link_to 'Sign Up Now', new_user_registration_path, class: 'btn btn-lg btn-success'
  / /.container
  / Script to Activate the Carousel
  :javascript
    $(document).on('ready', function () {
      $('.carousel').carousel({
          interval: 1000 //changes the speed
      })
    });
