%body
  .container
    .row
      .col-md-9
        %h1.page-header
          Python Info Stream
          %p
          = link_to 'Refresh Data', root_path, class:  'btn btn-round btn-primary', style: 'margin: 0 0 10px', :method => :get
        %h2
          Updates from the official Python Software Foundation
          %h4
            Tweets from @ThePSF aka Python Software
        %ul
          - TwitterApi.thepsf_tweets.each do |tweet|
            %li= parsed_tweet tweet

        %h2
          Podcasts
          %h4
            Tweets from @TalkPython aka Talk Python Podcasts
        %ul
          - TwitterApi.talkpython_tweets.each do |tweet|
            %li= parsed_tweet tweet
      .row
        .col-md-3
          .well
            = render partial: 'pages/resources_python'
    -#  .col-md-4
    -#    .panel.panel-default
    -#      .panel-heading
    -#        %h4
    -#          %i.fa.fa-fw.fa-compass
    -#          Easy to Use
    -#      .panel-body
    -#        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
    -#        %a.btn.btn-default{:href => "#"} Learn More
    -#/ /.row
    -#/ Portfolio Section
    -#.row
    -#  .col-lg-12
    -#    %h2.page-header Portfolio Heading
    -#  .col-md-4.col-sm-6
    -#    = link_to page_path('portfolio-item') do
    -#      %img.img-responsive.img-portfolio.img-hover{:alt => "", :src => "http://placehold.it/700x450"}/
    -#/ /.row
    -#/ Features Section
    -#.row
    -#  .col-lg-12
    -#    %h2.page-header Modern Business Features
    -#  .col-md-6
    -#    %p The Modern Business template by Start Bootstrap includes:
    -#    %ul
    -#      %li
    -#        %strong Bootstrap v3.2.0
    -#      %li jQuery v1.11.0
    -#      %li Font Awesome v4.1.0
    -#      %li Working PHP contact form with validation
    -#      %li Unstyled page elements for easy customization
    -#      %li 17 HTML pages
    -#    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.
    -#  .col-md-6
    -#    %img.img-responsive{:alt => "", :src => "http://placehold.it/700x450"}/
    / /.row
    -#%hr/
    / Call to Action Section
    -#.well
    -#  .row
    -#    .col-md-8
    -#      %p Coming soon! Content updates by email. Join the list.
    -#    .col-md-4
    -#      = link_to 'Sign Up Now', new_user_registration_path, class: 'btn btn-lg btn-success'
  / /.container
  / Script to Activate the Carousel
  :javascript
    $(document).on('ready', function () {
      $('.carousel').carousel({
          interval: 1000 //changes the speed
      })
    });
