.container
  .row
    .col-md-3
      %h1.page-header
        Resources
        -#%small Helpful Links
.row
  .col-md-3
  .list-group
    = link_to 'Ruby Doc', "http://ruby-doc.org/", class: 'list-group-item'
    = link_to 'Ruby on Rails Guides', "http://guides.rubyonrails.org/", class: 'list-group-item'
    = link_to 'Ruby Gems', "https://rubygems.org/", class: 'list-group-item'


