.container
  .row
    .col-lg-12
      %h1.page-header
        Resources
        %small Helpful Links
  .row
    .col-md-3
      .list-group
        = link_to 'Ruby Doc', "http://www.datasimply.com", class: 'list-group-item'
        = link_to 'Rails Doc', "http://www.datasimply.com", class: 'list-group-item'
        = link_to 'ruby Gems', "http://www.datasimply.com", class: 'list-group-item'
        = link_to 'Something Else', "http://www.datasimply.com", class: 'list-group-item'

