.container
  .row
    .col-md-3
      %h1.page-header
        Machine Learning Resources
        -#%small Helpful Links
.row
  .col-md-3
  .list-group
    = link_to 'Quick review of the linear algebra concepts relevant to machine learning', "http://www.deeplearningbook.org/contents/linear_algebra.html", class: 'list-group-item', target: '_blank'
    -#= link_to 'Best Python Resources', "https://www.fullstackpython.com/best-python-resources.html", class: 'list-group-item', target: '_blank'
    -#= link_to 'Python Packages List', "https://github.com/vinta/awesome-python", class: 'list-group-item', target: '_blank'


