/ Page Content
.container
  / Page Heading/Breadcrumbs
  .row
    .col-lg-12
      %h1.page-header
        About
        -#%small Subheading
      %ol.breadcrumb
        %li
          = link_to 'Home', root_path
        %li.active About
  / /.row
  / Intro Content
  .row
    .col-md-6
      = link_to image_tag('jumbotron.jpg')
    .col-md-6
      %h2 About Bit Parrot
      %p This application was created because I found myself spending too much time tracking information about coding-related things I needed to be on top of (meetups, blogs, tweets, and things like that). I also wanted to find information specific to my city, without wading through lots of information ... and I also like building apps in Ruby on Rails. So rather than manually tracking all of this nefarious info I created an app to do it for me. You are welcome to use it as well.
      %p In the future I plan to create an email that sends out information gathered by the app, so you don't need to go to this site to get updates. Sign up for that here if you would like to keep updated when that is available, and tell us your city and other interests so we can keep those in mind as we build more features.
      %p The code is open sources on GitHub see it here
      %ul.list-inline
      %li Ruby on Rails (Rails 5)
      %li Boostrap 3 and Haml (because life is too short not to use Haml)
      %li A nifty template from Hoarrd called Drunken Parrot, for the style and parrot and some images
  .row
    .col-lg-12
      %h2.page-header Our Team
    .col-md-4.text-center
      .thumbnail
        = link_to image_tag('Bonat_new_profile_pic_bw_colorburn100.jpg')
        .caption
          %h3
            Michelle Bonat
            %br/
            %small Creator
          %p Developer, great parking karma.
          %ul.list-inline
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-github-square
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-linkedin-square
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-twitter-square
  / /.row
  / Our Customers
  .row
    .col-lg-12
      %h2.page-header
        Our Sponsors
        %small Blimey! These boxes are blank. Become one of the first sponsors and reach developers. Contact Us
    .col-md-2.col-sm-4.col-xs-6
      %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}/
    .col-md-2.col-sm-4.col-xs-6
      %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}/
    .col-md-2.col-sm-4.col-xs-6
      %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}/
    .col-md-2.col-sm-4.col-xs-6
      %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}/
    .col-md-2.col-sm-4.col-xs-6
      %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}/
    .col-md-2.col-sm-4.col-xs-6
      %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}/
  / /.row
/ /.container
