/ Page Content
.container
  / Page Heading/Breadcrumbs
  .row
    .col-lg-12
      %h1.page-header
        About
        %small Subheading
      %ol.breadcrumb
        %li
          = link_to 'Home', root_path
        %li.active About
  / /.row
  / Intro Content
  .row
    .col-md-6
      %img.img-responsive{:alt => "", :src => "http://placehold.it/750x450"}/
    .col-md-6
      %h2 About Modern Business
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?
  / /.row
  / Team Members
  .row
    .col-lg-12
      %h2.page-header Our Team
    .col-md-4.text-center
      .thumbnail
        %img.img-responsive{:alt => "", :src => "http://placehold.it/750x450"}/
        .caption
          %h3
            John Smith
            %br/
            %small Job Title
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.
          %ul.list-inline
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-facebook-square
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-linkedin-square
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-twitter-square
    .col-md-4.text-center
      .thumbnail
        %img.img-responsive{:alt => "", :src => "http://placehold.it/750x450"}/
        .caption
          %h3
            John Smith
            %br/
            %small Job Title
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.
          %ul.list-inline
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-facebook-square
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-linkedin-square
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-twitter-square
    .col-md-4.text-center
      .thumbnail
        %img.img-responsive{:alt => "", :src => "http://placehold.it/750x450"}/
        .caption
          %h3
            John Smith
            %br/
            %small Job Title
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.
          %ul.list-inline
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-facebook-square
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-linkedin-square
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-twitter-square
    .col-md-4.text-center
      .thumbnail
        %img.img-responsive{:alt => "", :src => "http://placehold.it/750x450"}/
        .caption
          %h3
            John Smith
            %br/
            %small Job Title
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.
          %ul.list-inline
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-facebook-square
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-linkedin-square
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-twitter-square
    .col-md-4.text-center
      .thumbnail
        %img.img-responsive{:alt => "", :src => "http://placehold.it/750x450"}/
        .caption
          %h3
            John Smith
            %br/
            %small Job Title
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.
          %ul.list-inline
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-facebook-square
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-linkedin-square
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-twitter-square
    .col-md-4.text-center
      .thumbnail
        %img.img-responsive{:alt => "", :src => "http://placehold.it/750x450"}/
        .caption
          %h3
            John Smith
            %br/
            %small Job Title
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.
          %ul.list-inline
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-facebook-square
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-linkedin-square
            %li
              %a{:href => "#"}
                %i.fa.fa-2x.fa-twitter-square
  / /.row
  / Our Customers
  .row
    .col-lg-12
      %h2.page-header Our Customers
    .col-md-2.col-sm-4.col-xs-6
      %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}/
    .col-md-2.col-sm-4.col-xs-6
      %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}/
    .col-md-2.col-sm-4.col-xs-6
      %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}/
    .col-md-2.col-sm-4.col-xs-6
      %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}/
    .col-md-2.col-sm-4.col-xs-6
      %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}/
    .col-md-2.col-sm-4.col-xs-6
      %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}/
  / /.row
/ /.container
