/ Page Content
.container
  / Page Heading/Breadcrumbs
  .row
    .col-lg-12
      %h1.page-header
        FAQ
        %small
      %ol.breadcrumb
        %li
          = link_to 'Home', root_path
        %li.active FAQ
  / /.row
  / Content Row
  .row
    .col-lg-12
      #accordion.panel-group
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"} Is this an independent site?
          #collapseOne.panel-collapse.collapse
            .panel-body
              Yes, this site is run by independent developers. We're not pushing any agenda from any big corporation.
        / /.panel
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"} How do you decide what content to display?
          #collapseTwo.panel-collapse.collapse
            .panel-body
              We include content that is interesting to us as developers, and content that other developers have asked us to include.
        / /.panel
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"} Where can I suggest some data to include in this site?
          #collapseThree.panel-collapse.collapse
            .panel-body
              We would love to hear your suggestions. Please tweet any ideas to us @Bit-Parrot.
        / /.panel
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"} How did you come up with the name Bit Parrot and what does it refer to?
          #collapseFour.panel-collapse.collapse
            .panel-body
              Bit Parrot refers to the nature of this site which takes information (bits) and repeats them back to you (like a Parrot).
        / /.panel
      / /.panel-group
    / /.col-lg-12
  / /.row
/ /.container
